@import "./mixins.scss";
@import "./reset.scss";

.header {
  text-align: center;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 10px;
}
.main {
  text-align: center;
  min-height: 100vh;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}
